.review {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto 1fr auto;
	font-size: 14px;
	line-height: 24px;
	white-space: pre-line;
	gap: 10px 0;
}

.user {
	margin-right: 10px;
}

.name {
	font-weight: 700;
}

.date {
	justify-self: end;
	margin-right: 10px;
}

.description {
	grid-column: 1/-1;
}

@media screen and (max-width: 768px) {
	.review {
		grid-template-columns: auto 1fr;
	}

	.date {
		justify-self: unset;
		grid-column: 1/-1;
	}

	.rating {
		grid-column: 1/-1;
	}
}
