.productWrapper {
	margin-bottom: 30px;
}

.product {
	display: grid;
	grid-gap: 10px 40px;
	grid-template-columns: 1fr 1fr;
	padding: 30px 30px 20px;
	gap: 10px 40px;
}

.name {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	gap: 10px;
}

.image {
	align-self: center;
	grid-row-end: -1;
	grid-row-start: 1;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	border-radius: 5px;
}

.categories {
	margin-top: 10px;
}

.prices {
	display: grid;
	align-self: flex-start;
	justify-self: end;
	grid-gap: 0 40px;
	grid-template-columns: auto auto auto;
	gap: 0 40px;
}

.priceDescription {
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--black);
}

.divider,
.description {
	grid-column: 1/-1;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
}

.characteristicsName {
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
}

.characteristicsDots {
	margin-bottom: 5px;
	border-bottom: 1px dashed var(--gray-light);
}

.characteristicsValue {
	font-size: 16px;
	line-height: 32px;
}

.tags {
	margin-top: 15px;
}

.tag {
	margin-bottom: 5px;
}

.advantages {
	margin-bottom: 30px;
	padding-left: 15px;
	border-left: 3px solid var(--green);
}

.disAdvantages {
	padding-left: 15px;
	border-left: 3px solid var(--red);
}

.advTitle {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.actions {
	display: grid;
	grid-column: 1/-1;
	grid-gap: 10px 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px 20px;
}

.reviews {
	margin-top: -10px;
	display: grid;
	gap: 10px;
}

.closed {
	overflow: hidden;
	max-height: 0;
	padding: 0;
}

.opened {
	max-height: auto;
	padding: 30px;
}

@media screen and (max-width: 1250px) {
	.product {
		grid-template-columns: 1fr;
	}

	.prices {
		justify-self: left;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-gap: 10px;
		padding: 15px 15px 10px;
		gap: 10px;
	}

	.prices {
		align-items: center;
		grid-auto-flow: column;
		grid-gap: 10px 0;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		width: 100%;
		gap: 10px 0;
	}

	.actions {
		grid-template-columns: 1fr;
	}
}
